* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(40, 1fr);
    grid-template-rows: repeat(100, 1fr);

}

.header {
    background-image: linear-gradient(to left, #00FFAA, #69C7DF);
    grid-column: 1/41;
    height: 10vh;
}

.header img {
    width: 115px;
    height: 29px;
    grid-column: 2;
    grid-row: 2;
    align-self: center;
    cursor: pointer;
}


.logo {
    display: grid;
    grid-template-columns: repeat(10, 5% 10%);
    grid-template-rows: 0.2fr 0.1fr 0.2fr;
}

.menu {
    display: inline-flex;
}

.menu ul {
    width: 120px;
}

.menu li {
    list-style-type: none;

}

.menu a {
    text-decoration: none;
    color: white;
}

.menucontainer {
    grid-column: 5;
    grid-row: 2;
    align-self: center;
}

.search-container {
    grid-column: 9;
    grid-row: 2;
    align-self: center;
}

.search-container input {
    border-radius: 20px;
    outline: none;
    border: none;
    height: 25px;
    box-shadow: 2px 4px 4px 0px #888888;
}


.profile-container img {
    width: 45px;
    height: 39px;
    align-items: center;
    cursor: pointer;

}

.profile-container {
    grid-column: 13;
    grid-row: 2;
}


.notif-container img {
    width: 45px;
    height: 39px;
    align-items: center;
    cursor: pointer;

}

.notif-container {
    grid-column: 14;
    grid-row: 2;
}
.skillscontainer {
    background-color: white;
    box-shadow: 1px 1px 11px 0px #888888;
    grid-row: 5/20;
    grid-column: 2/40;
    border-radius: 20px;
}

.skills {
    grid-row-start: 6;
    grid-column: 19/26;
    color: #00FFAA;
    font-weight: bold;
}

.skillcontainer {
    background-color: white;
    box-shadow: -3px -1px 0px 4px #47AEE1;
    grid-row: 7/16;
    grid-column: 3/10;
    border-radius: 20px;
}

.todo {
    text-align: center;
    grid-row: 10;
    grid-column: 4/9;
}

.no {
    grid-column: 4;
    grid-row: 8;
}

.no img {
    height: 50%;
    width: 50%;
}

.no2 {
    grid-column: 6;
    grid-row: 8;
}

.no2 img {
    height: 50%;
    width: 50%;
}


.yes {
    grid-column: 8;
    grid-row: 8;
}

.yes img {
    height: 50%;
    width: 50%;
}

/* STYLE SECONDE CARD */


.skillcontainer1 {
    background-color: white;
    box-shadow: -3px -1px 0px 4px #47AEE1;
    grid-row: 7/16;
    grid-column: 12/19;
    border-radius: 20px;
}

.todo1 {
    text-align: center;
    grid-row: 10;
    grid-column: 12/20;
}

.no3 {
    grid-column: 13;
    grid-row: 8;
}

.no3 img {
    height: 50%;
    width: 50%;
}

.no4 {
    grid-column: 15;
    grid-row: 8;
}

.no4 img {
    height: 50%;
    width: 50%;
}


.yes1 {
    grid-column: 17;
    grid-row: 8;
}

.yes1 img {
    height: 50%;
    width: 50%;
}


/* STYLE THIRD CARD */

.skillcontainer2 {
    background-color: white;
    box-shadow: -3px -1px 0px 4px #47AEE1;
    grid-row: 7/16;
    grid-column: 23/30;
    border-radius: 20px;
}

.todo2 {
    text-align: center;
    grid-row: 10;
    grid-column: 23/30;
}

.no5 {
    grid-column: 24;
    grid-row: 8;
}

.no5 img {
    height: 50%;
    width: 50%;
}

.no6 {
    grid-column: 26;

    grid-row: 8;
}

.no6 img {
    height: 50%;
    width: 50%;
}


.yes2 {
    grid-column: 28;
    grid-row: 8;
}

.yes2 img {
    height: 50%;
    width: 50%;
}




/* STYLE FOURTH CARD */
.skillcontainer3 {
    background-color: white;
    box-shadow: -3px -1px 0px 4px #47AEE1;
    grid-row: 7/16;
    grid-column: 32/39;
    border-radius: 20px;
}

.todo3 {
    text-align: center;
    grid-row: 10;
    grid-column: 32/39;
}

.no7 {
    grid-column: 33;
    grid-row: 8;
}

.no7 img {
    height: 50%;
    width: 50%;
}

.no8 {
    grid-column: 35;
    grid-row: 8;
}

.no8 img {
    height: 50%;
    width: 50%;
}


.yes3 {
    grid-column: 37;
    grid-row: 8;
}

.yes3 img {
    height: 50%;
    width: 50%;
}




.BriefImage {
    grid-column: 2/20;
    grid-row: 25/40;
}

.BriefImage img {
    width: 70%;
    height: 100%;
}

.BriefImageContainer {
    grid-row: 25/40;
    grid-column: 3/15;
    border: dashed 1px black;
}

.BriefContainer {
    grid-row: 25/40;
    grid-column: 16/39;
    border: dashed 1px black;
}


.BriefTitleContainer {
    grid-column: 17/40;
    grid-row: 25;
}

.BriefContentContainer {
    grid-column: 17/38;
    grid-row: 26;
}



.BriefTagsContainer {
    background-color: #47AEE1;
    grid-column: 17/38;
    grid-row: 28/38;
    border-radius: 10px;
}



.tag1 {
    background-color: white;
    text-align: center;
    grid-column: 18/22;
    grid-row: 30/36;
    border-radius: 20px;
}

.tag2 {
    background-color: white;
    text-align: center;
    grid-column: 24/26;
    grid-row: 30/36;
    border-radius: 20px;
}

.tag3 {
    background-color: white;
    text-align: center;
    grid-column: 28/30;
    grid-row: 30/36;
    border-radius: 20px;
}

.tag4 {
    background-color: white;
    text-align: center;
    grid-column: 32/35;
    grid-row: 30/36;
    border-radius: 20px;
}

.DeadLineContainer {
    grid-column: 30/39;
    grid-row: 42/48;

}



.DeadLineContainer img {
    width: auto;
    height: 200px;
}

.RectangleDeadline{
    grid-column: 3/39;
    background-color: rgb(255, 255, 255);
    border: dashed 1px black;
    grid-row: 45/93;
}


.BriefDeadlineContent{
        grid-column: 4/38;
        grid-row: 50;
}


.BriefDeadline{
        grid-column: 4/38;
        grid-row: 55;
}