*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(40, 1fr);
    grid-template-rows:  0;
}


.header {
    background-image: linear-gradient(to left, #00FFAA, #69C7DF);
    grid-column: 1/41;
    height: 10vh;
}

.header img {
    width: 115px;
    height: 29px;
    grid-column: 2;
    grid-row: 2;
    align-self: center;
    cursor: pointer;
}


.logo {
    display: grid;
    grid-template-columns: repeat(10, 5% 10%);
    grid-template-rows: 0.2fr 0.1fr 0.2fr;
}

.menu {
    display: inline-flex;
}

.menu ul {
    width: 120px;
}

.menu li {
    list-style-type: none;

}

.menu a {
    text-decoration: none;
    color: white;
}

.menucontainer {
    grid-column: 5;
    grid-row: 2;
    align-self: center;
}

.search-container {
    grid-column: 9;
    grid-row: 2;
    align-self: center;
}

.search-container input {
    border-radius: 20px;
    outline: none;
    border: none;
    height: 25px;
    box-shadow: 2px 4px 4px 0px #888888;
}


.profile-container img {
    width: 45px;
    height: 39px;
    align-items: center;
    cursor: pointer;

}

.profile-container {
    grid-column: 13;
    grid-row: 2;
}


.notif-container img {
    width: 45px;
    height: 39px;
    align-items: center;
    cursor: pointer;

}

.notif-container {
    grid-column: 14;
    grid-row: 2;
}


.MyWorksTitle{
display: flex;
flex-direction: column;
align-items: center;
}



.cardscontainer{
    display: flex;
    width: 1260px;
    height: 320px;
    
}

.cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.card1 {
    margin: 20px;
    box-shadow: 2px 1px 5px 0px #bbbbbb;
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 280px;
    border-radius: 10px;

}


.card2 {
    margin: 20px;
    box-shadow: 2px 1px 5px 0px #bbbbbb;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 200px;
    height: 280px;
}

.card3 {
    margin: 20px;
    box-shadow: 2px 1px 5px 0px #bbbbbb;
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 280px;
    border-radius: 10px;
}

.card4 {
    margin: 20px;
    box-shadow: 2px 1px 5px 0px #bbbbbb;
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 280px;
    border-radius: 10px;
}

.card5 {
    margin: 20px;
    box-shadow: 2px 1px 5px 0px #bbbbbb;
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 280px;
    border-radius: 10px;
}

.card6 {
    margin: 20px;
    box-shadow: 2px 1px 5px 0px #bbbbbb;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 200px;
    height: 280px;
}


.card7 {
    margin: 20px;
    box-shadow: 2px 1px 5px 0px #bbbbbb;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 200px;
    height: 280px;
}

.card8 {
    margin: 20px;
    box-shadow: 2px 1px 5px 0px #bbbbbb;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 200px;
    height: 280px;
}

.card9 {
    margin: 20px;
    box-shadow: 2px 1px 5px 0px #bbbbbb;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 200px;
    height: 280px;
}

.card10 {
    margin: 20px;
    box-shadow: 2px 1px 5px 0px #bbbbbb;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 200px;
    height: 280px;
}


