
.top {
    width: 100%;
    height: 240px;
    background-image:url(/assets/images/topbg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
}

.text{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}