
.top {
    width: 100%;
    height: 240px;
    background-image:url(/assets/images/topbg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
}

.text{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
}


.bot{
width: 100%;
height: 58vh;
display: flex;

}
/* 
.signinbg{
    display: flex;
    width: 80%;
    margin: auto;
    align-items: center;
}

.signinbg img{
    height: 232px;    
    width: 283px;
}

.signincontainer{
    display: flex;
    height: 58vh;
    width: 500px;
    background-color: black;
    justify-content: center;
    align-items: center;
    color: white;
} */


.divleft{

    height: 353px;
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divleft img{
    height: 232px;
    width: 283px;
}

.divmiddle{
    background-color: blueviolet;
    height: 353px;
    width: 33.33%;
}
.divright{
    background-color: brown;
    height: 353px;
    width: 33.33%;
}