
.top {
    width: 100%;
    height: 240px;
    background-image:url(/assets/images/topbg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
}

.text{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
}


.bot{
width: 100%;
height: 58vh;
display: flex;
}
/* 
.signinbg{
    display: flex;
    width: 80%;
    margin: auto;
    align-items: center;
}

.signinbg img{
    height: 232px;    
    width: 283px;
}

.signincontainer{
    display: flex;
    height: 58vh;
    width: 500px;
    background-color: black;
    justify-content: center;
    align-items: center;
    color: white;
} */


.divleft{
    height: 353px;
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divleft img{
    height: 232px;
    width: 283px;
}

.divmiddle{
    background-color: rgb(255, 255, 255);
    height: 353px;
    width: 33.33%;
}

.navsign{
width: 100%;
height: 10%;
}


.divmiddle ul{
    font-family: monospace;
    font-size: 12px;
    list-style-type: none;
    display: inline-flex;
}

.divmiddle a{
text-decoration:none;
margin: 10px;
color: black;
}

.formcontainer{
    width: 600px;
    display: flex;
    justify-content: center;

}

.email{
width : 60%;
height: 30px;
border-radius: 10px;
background-color: #ffffff;
outline: none;
border: solid 1px gray;
margin: 10px;
}

.password {
    height: 30px;
    width : 60%;
    border-radius: 10px;
    background-color: #ffffff;
    outline: none;
    border: solid 1px gray;
    margin: 10px;
}

.signin{
        height: 30px;
        width: 60%;
        border-radius: 7px;
        outline: none;
        border: solid 1px gray;
        margin: 10px;
        background-color: #69C7DF;
        color: white;
}



.footsign {
    display: flex;
    justify-content: space-between;
}

.footsign h1 {
    font-size: 10px;
    color: grey;
    cursor: pointer;
}



.footsigncontainer {
    margin: auto;
    width: 60%;
}

.stay {
    font-size: 10px;
    color: grey;
    cursor: pointer;
}

.sc {
    position: relative;
    top: 3px;
}



.navsign a:hover{
    text-decoration: underline #69C7DF;

}


.or{
        justify-content: center;
        display: flex;
        width: 100%;
        height: 24px;
        align-items: center;
}



.thirdbox {
width: 600px;
display: flex;
justify-content: center;
}


.socbut {
    margin: auto;
    width: 100%;
}





.fbbut {
    color: white;
    width: 70%;
    height: 35px;
    border: solid black;
    border-radius: 4px;
    background-color: black;
    cursor: pointer;
}


.ggbut {
    color: white;
    width: 70%;
    height: 35px;
    border: solid #69C7DF;
    border-radius: 4px;
    background-color: #69C7DF;
    cursor: pointer;
}



.divright{
    background-color: rgb(255, 255, 255);
    height: 353px;
    width: 33.33%;
}


