.skillcontainer3 {
    background-color: white;
    box-shadow: -3px -1px 0px 4px #47AEE1;
    grid-row: 7/16;
    grid-column: 32/39;
    border-radius: 20px;
}

.todo3 {
    text-align: center;
    grid-row: 10;
    grid-column: 32/39;
}

.no7 {
    grid-column: 33;
    grid-row: 8;
}

.no7 img {
    height: 50%;
    width: 50%;
}

.no8 {
    grid-column: 35;
    grid-row: 8;
}

.no8 img {
    height: 50%;
    width: 50%;
}


.yes3 {
    grid-column: 37;
    grid-row: 8;
}

.yes3 img {
    height: 50%;
    width: 50%;
}